<html>
    <head>
        <title>classe en short</title>
    </head>
    <body>
        <h1>les mystères de l'intestin</h1>
        <h2>introduction au monde interieur</h2>
        <p>la faune intérieur <em>et ses monstres terrifiants!</em></p>
        <p>It works!</p>
        <strong>et après tout se transforme en caca</strong>
        <br />
        <a href="http://djangogirls.org">link</a>
        <p>j'ai un peu honte</p>
        <strong>ce qu'il ne faut pas manger:</strong>
        <ul><li>du verre pilé</li><li>ses doigts</li><li>des boites de conserve vides</ul>
          <div>
                    <h1><a href="">Django Girls Blog</a></h1>
                </div>
          <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        </div>
        <div>
           <p>published: 14.06.2014, 12:14</p>
           <h2><a href="">Mon second post</a></h2>
           <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
       </div>
    </body>
</html>
